<div class="mobile-nav">
    <section class="logoHeader">
        <p class="logo" role = "button">TKS Diner</p>
    </section>
    <section class="menu-icon">
        <button type="button" ng-click="mainVm.toggleDropDown()" class="menu-btn">
        </button>
        <section class="col-sm-12 navigation" ng-class="{collapse: toggleexpand}">
            <ul class="nav">
                <li>
                    <a href="#/home" ng-click="mainVm.toggleDropDown()" class="nav-item">Home</a>
                </li>
                <li>
                    <a href="#/menu" ng-click="mainVm.toggleDropDown()" class="nav-item">Menu</a>
                </li>
                <li>
                    <a href="#/reservation" ng-click="mainVm.toggleDropDown()" class="nav-item">Make a Reservation</a>
                </li>
                <li>
                    <a href="#/testimonials" ng-click="mainVm.toggleDropDown()" class="nav-item">Testimonials</a>
                </li>
                <li>
                    <a href="#/admin" ng-click="mainVm.toggleDropDown()" class="nav-item">Admin</a>
                </li>
            </ul>
        </section>
    </section>
</div>

<!-- everything in Same row, just because we dont want to reduce the nav
 menu into a list item right now also dont want to reduce the font size-->
<div class="desk-nav">
    <nav class="navigation">
        <ul class="nav nav-justified">
            <li>
                <p class="logo" role = "button">TKS Diner</p>
            </li>
            <li>
                <a href="#/home" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'home'}">Home</a>
            </li>
            <li>
                <a href="#/menu" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'menu'}">Menu</a>
            </li>
            <li>
                <a href="#/reservation" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'reservation'}">Make a Reservation</a>
            </li>
            <li>
                <a href="#/testimonials" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'testimonials'}">Testimonials</a>
            </li>
            <li>
                <a href="#/admin" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'admin'}">Admin</a>
            </li>
        </ul>
    </nav>
</div>

<div class="tab-nav">
    <section class="logoHeader">
        <p class = "logo" role = "button">TKS Diner</p>
    </section>
    <nav class="navigation">
        <ul class="nav nav-justified">
            <li>
                <a href="#/home" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'home'}">Home</a>
            </li>
            <li>
                <a href="#/menu" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'menu'}">Menu</a>
            </li>
            <li>
                <a href="#/reservation" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'reservation'}">Make a Reservation</a>
            </li>
            <li>
                <a href="#/testimonials" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'testimonials'}">Testimonials</a>
            </li>
            <li>
                <a href="#/admin" role = "button" class ="nav-item" ng-class="{active: $route.current.activetab == 'admin'}">Admin</a>
            </li>
        </ul>
    </nav>
</div>